*pyc
*swp
/env
*egg-info
/iris-api/docker/logs
/build
/dist
*swo
.cache
.coverage
htmlcov
venv
/src/iris/ui/static/.webassets-cache
/src/iris/ui/static/bundles
/src/iris/ui/static/images/iris-mobile-qr.svg
.tox
*.orig
