alabaster==0.7.10
Babel==2.4.0
backports.ssl-match-hostname==3.5.0.1
Beaker==1.8.0
cached-property==1.3.0
certifi==2017.4.17
chardet==3.0.4
click==6.6
colorama==0.3.9
configparser==3.5.0
coverage==4.4.1
cssmin==0.2.0
Django==1.11.2
dnspython==1.14.0
docker==2.3.0
docker-compose==1.14.0
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
enum34==1.1.6
falcon==1.2.0
falcon-cors==1.1.2
flake8==3.3.0
funcsigs==1.0.2
functools32==3.2.3.post2
gevent==1.1.2
google-api-python-client==1.4.2
greenlet==0.4.12
gunicorn==19.7.1
hashlib==20081119
hmac==20101005
httpie==0.9.9
httplib2==0.10.3
idna==2.5
image==1.5.5
imagesize==0.7.1
importlib==1.0.3
ipaddress==1.0.18
-e git+https://github.com/diegocepedaw/iris.git@a4287ed917a011cf22b9275a088461a00fa16784#egg=iris
irisclient==1.2.1
Jinja2==2.9.6
json2html==1.1.1
jsonschema==2.6.0
Markdown==2.4.1
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
msgpack-python==0.4.5
MySQL-python==1.2.5
oauth2client==1.4.12
olefile==0.44
pbr==3.0.1
phonenumbers==8.5.1
Pillow==4.1.1
pluggy==0.4.0
py==1.4.34
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycodestyle==2.3.1
pycrypto==2.6.1
pyflakes==1.5.0
Pygments==2.2.0
PyMySQL==0.7.2
pypng==0.0.18
PyQRCode==1.2.1
pytest==3.0.5
pytest-cov==2.5.1
pytest-mock==1.5.0
python-gcm==0.4
python-ldap==2.4.9
python-mimeparse==1.6.0
pytz==2017.2
PyYAML==3.11
requests==2.18.1
rsa==3.4.2
six==1.10.0
slackclient==0.16
snowballstemmer==1.2.1
Sphinx==1.5.6
sphinx-rtd-theme==0.2.4
sphinxcontrib-httpdomain==1.5.0
SQLAlchemy==1.0.11
streql==3.0.2
texttable==0.8.8
tox==2.7.0
twilio==4.5.0
ujson==1.35
uritemplate==3.0.0
urllib3==1.21.1
uWSGI==2.0.15
virtualenv==15.1.0
webassets==0.12.0
websocket-client==0.42.1
