version: 2
jobs:
  build:
    services:
      - docker
    docker:
      - image: cimg/python:3.10.8-browsers
      - image: mysql/mysql-server:8.0
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=1
          - MYSQL_ROOT_HOST=%

    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install libsasl2-dev python3-dev libldap2-dev libssl-dev mysql-client
      - run:
          name: Prepare virtualenv
          command: |
            virtualenv venv
            source venv/bin/activate
            python setup.py develop
            pip install -e '.[dev,kazoo]'
      - run:
          name: Setup MySQL
          command: |
            bash .ci/setup_mysql.sh
      - run:
          name: Run tests
          command: |
            bash .ci/script.sh
            bash .ci/after_success.sh || echo "coverage collection failed"
