{% extends "base.html" %}
{% block content %}

<div class="main stats">
  <h1 id="stats-header">Global Stats</h1>
  <div class="module stats-module col-md-12 col-sm-12 col-xs-12">
    <table id="stats-table" class="dataTable">
    </table>
  </div>
</div>

{% raw %}
<script id="stats-table-template" type="text/x-handlebars-template">
  <tbody>
    {{#each .}}
          <tr>
             <th><h3>{{@key}}</h3></th>
             <td>
             <tbody>
              {{#each .}}
              {{#each .}}
                    <tr>
                      <th>{{unixToDate @key}}</th>
                      <td class="stat-value">{{this}}</td>
                    </tr>
              {{/each}}
              {{/each}}
             </td>
             </tbody>
          </tr>
    {{/each}}
  </tbody>
</script>
{% endraw %}

{% endblock %}
